.assume {
    &_box {
        display: flex;
        flex-direction: column;
        width: 55vw;
        height: 40vh;
    }

}

.assumption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-family: Helvetica;
    
    width: 100%;
    height: 25%;

    margin-top: 0.5vh;
    border: 1px solid gray;
    border-radius: 4px;
    &:hover {
        animation: 0.3s ease-in 0s 1 onHover;
        background: rgba(232, 232, 232, 100);
    }
}

@keyframes onHover {
    0% {
        background: rgba(0,0,0,0);
    }
    100% {
        background: rgba(232, 232, 232, 100);
    }
}