
.main_input {
    display: flex;
    width: 60vw;
    height: 8vh;

    box-sizing: border-box;
    padding-left: 2vw;
    font-family: Helvetica;
    font-size: 4vh;

    outline: none;
    border-radius: 8px;
    border-color: black;
    animation: 1.5s ease-out 0s 1 SlideFromTop;
    margin-top: 30vh;
}

@keyframes SlideFromTop {
    0% {
        margin-top: -30vh;
        opacity: 0;
    }
    80% {
        margin-top: 33vh;
    }
    90% {
        margin-top: 28vh;
    }
    100% {
        margin-top: 30vh;
        opacity: 1;
    }
}