/* use css modules with cameCase instead of sinergy of snake with Pascal case */
:root {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  ul {
    list-style: none;
  }

  :link {
    text-decoration: none;
  }
}

.movies {
  width: 55vw;
  height: 40vh;
  list-style: none;
}

.movie {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  font-family: Helvetica;

  width: 100%;
  height: 25%;

  margin-top: 0.5vh;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.5s ease-out;
  text-decoration: none;
  color: black;

  &:hover {
    background: rgb(232, 232, 232);
  }
}

.mainInput :global {
  display: flex;
  width: 60vw;
  height: 8vh;

  box-sizing: border-box;
  padding-left: 2vw;
  font-family: Helvetica, sans-serif;
  font-size: 4vh;

  outline: none;
  border-radius: 8px;
  border-color: black;
  animation-duration: 1.5s;
  animation-delay: 0;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-name: slide-from-top;
  margin-top: 30vh;
}

.search {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes :global(slide-from-top) {
  0% {
    margin-top: -15vh;
    opacity: 0;
  }
  25% {
    margin-top: 30;
    opacity: 0;
  }
  50% {
    margin-top: 33vh;
    opacity: 0.5;
  }
  75% {
    margin-top: 28vh;
  }
  100% {
    margin-top: 30vh;
    opacity: 1;
  }
}
